<div>
    <div class = "form-group-import">
        <h2>Paste the JSON into the box below and click "Import".</h2>
        <textarea id="dicecloud-json" name="dicecloud-json" rows="50" cols="50"></textarea>
        <input class="update-checkbox" type="checkbox" value="1" name="updateButton" checked>
        <label for="updateButton">Update existing?</label>
        <input type="submit" class="import-dicecloud" value="Import">
        <button type="button" class="dicecloud-settings"><i class="fas fa-cog"></i> Settings</button>
    </div>
</div>
